<?xml version="1.0"?>
<config>
    <modules>
        <Hp_Leftsidebar>
            <version>0.1.0</version>
        </Hp_Leftsidebar>
    </modules>
    <frontend>
        <routers>
            <leftsidebar>
                <use>standard</use>
                <args>
                    <module>Hp_Leftsidebar</module>
                    <frontName>leftsidebar</frontName>
                </args>
            </leftsidebar>
        </routers>
        <layout>
            <updates>
                <leftsidebar>
                    <file>leftsidebar.xml</file>
                </leftsidebar>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <leftsidebar>
                <use>admin</use>
                <args>
                    <module>Hp_Leftsidebar</module>
                    <frontName>leftsidebar</frontName>
                </args>
            </leftsidebar>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <leftsidebar module="leftsidebar">
                <title>Leftsidebar</title>
                <sort_order>71</sort_order>                
                <children>
                    <items module="leftsidebar">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>leftsidebar/adminhtml_leftsidebar</action>
                    </items>
                </children>
            </leftsidebar>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <leftsidebar>
                            <title>Leftsidebar Module</title>
                            <sort_order>200</sort_order>
                        </leftsidebar>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <leftsidebar>
                    <file>leftsidebar.xml</file>
                </leftsidebar>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <leftsidebar>
                <class>Hp_Leftsidebar_Model</class>
                <resourceModel>leftsidebar_mysql4</resourceModel>
            </leftsidebar>
            <leftsidebar_mysql4>
                <class>Hp_Leftsidebar_Model_Mysql4</class>
                <entities>
                    <leftsidebar>
                        <table>leftsidebar</table>
                    </leftsidebar>
                </entities>
            </leftsidebar_mysql4>
        </models>
        <resources>
            <leftsidebar_setup>
                <setup>
                    <module>Hp_Leftsidebar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </leftsidebar_setup>
            <leftsidebar_write>
                <connection>
                    <use>core_write</use>
                </connection>


            </leftsidebar_write>
            <leftsidebar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </leftsidebar_read>
        </resources>
        <blocks>
            <leftsidebar>
                <class>Hp_Leftsidebar_Block</class>
            </leftsidebar>
        </blocks>
        <helpers>
            <leftsidebar>
                <class>Hp_Leftsidebar_Helper</class>
            </leftsidebar>
        </helpers>
    </global>
</config>