<?xml version="1.0"?>
<config>
    <modules>
        <Hp_Headerimage>
            <version>0.1.0</version>
        </Hp_Headerimage>
    </modules>
    <frontend>
        <routers>
            <headerimage>
                <use>standard</use>
                <args>
                    <module>Hp_Headerimage</module>
                    <frontName>headerimage</frontName>
                </args>
            </headerimage>
        </routers>
        <layout>
            <updates>
                <headerimage>
                    <file>headerimage.xml</file>
                </headerimage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <headerimage>
                <use>admin</use>
                <args>
                    <module>Hp_Headerimage</module>
                    <frontName>headerimage</frontName>
                </args>
            </headerimage>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <headerimage module="headerimage">
                <title>Headerimage</title>
                <sort_order>71</sort_order>                
                <children>
                    <items module="headerimage">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>headerimage/adminhtml_headerimage</action>
                    </items>
                </children>
            </headerimage>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <headerimage>
                            <title>Headerimage Module</title>
                            <sort_order>200</sort_order>
                        </headerimage>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <headerimage>
                    <file>headerimage.xml</file>
                </headerimage>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <headerimage>
                <class>Hp_Headerimage_Model</class>
                <resourceModel>headerimage_mysql4</resourceModel>
            </headerimage>
            <headerimage_mysql4>
                <class>Hp_Headerimage_Model_Mysql4</class>
                <entities>
                    <headerimage>
                        <table>headerimage</table>
                    </headerimage>
                </entities>
            </headerimage_mysql4>
        </models>
        <resources>
            <headerimage_setup>
                <setup>
                    <module>Hp_Headerimage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </headerimage_setup>
            <headerimage_write>
                <connection>
                    <use>core_write</use>
                </connection>


            </headerimage_write>
            <headerimage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </headerimage_read>
        </resources>
        <blocks>
            <headerimage>
                <class>Hp_Headerimage_Block</class>
            </headerimage>
        </blocks>
        <helpers>
            <headerimage>
                <class>Hp_Headerimage_Helper</class>
            </headerimage>
        </helpers>
    </global>
</config>