<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Ebiz_Autosubscribe>
            <version>0.0.1</version>
        </Ebiz_Autosubscribe>
    </modules>
    <global>
        <helpers>
            <ebiz_autosubscribe>
                <class>Ebiz_Autosubscribe_Helper</class>
            </ebiz_autosubscribe>
        </helpers>
    </global>
    <frontend>
        <events>
            <sales_order_place_after>
		<observers>
		    <ebiz_autosubscribe_sales_order_place_after>
                        <class>Ebiz_Autosubscribee_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </ebiz_autosubscribe_sales_order_place_after>                    
		</observers>
            </sales_order_place_after>
            <customer_register_success>
                <observers>
                    <ebiz_autosubscribe_customer_register_success>
                        <class>Ebiz_Autosubscribe_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </ebiz_autosubscribe_customer_register_success>
                </observers>  
            </customer_register_success>                               
        </events>
        <layout>
            <updates>
                <ebiz_tickets module="Ebiz_Autosubscribe">
                    <file>ebiz_autosubscribe.xml</file>
                </ebiz_tickets>
            </updates>
        </layout>        
    </frontend>   
</config>