<?xml version="1.0"?>
<config>
    <modules>
        <Hp_Calendarview>
            <version>0.1.0</version>
        </Hp_Calendarview>
    </modules>
    <frontend>
        <routers>
            <calendarview>
                <use>standard</use>
                <args>
                    <module>Hp_Calendarview</module>
                    <frontName>calendarview</frontName>
                </args>
            </calendarview>
        </routers>
        <layout>
            <updates>
                <calendarview>
                    <file>calendarview.xml</file>
                </calendarview>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <calendarview>
                <use>admin</use>
                <args>
                    <module>Hp_Calendarview</module>
                    <frontName>calendarview</frontName>
                </args>
            </calendarview>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <calendarview module="calendarview">
                <title>Calendarview</title>
                <sort_order>71</sort_order>                
                <children>
                    <items module="calendarview">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>calendarview/adminhtml_calendarview</action>
                    </items>
                </children>
            </calendarview>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <calendarview>
                            <title>Calendarview Module</title>
                            <sort_order>200</sort_order>
                        </calendarview>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <calendarview>
                    <file>calendarview.xml</file>
                </calendarview>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <calendarview>
                <class>Hp_Calendarview_Model</class>
                <resourceModel>calendarview_mysql4</resourceModel>
            </calendarview>
            <calendarview_mysql4>
                <class>Hp_Calendarview_Model_Mysql4</class>
                <entities>
                    <calendarview>
                        <table>calendarview</table>
                    </calendarview>
                </entities>
            </calendarview_mysql4>
        </models>
        <resources>
            <calendarview_setup>
                <setup>
                    <module>Hp_Calendarview</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </calendarview_setup>
            <calendarview_write>
                <connection>
                    <use>core_write</use>
                </connection>


            </calendarview_write>
            <calendarview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </calendarview_read>
        </resources>
        <blocks>
            <calendarview>
                <class>Hp_Calendarview_Block</class>
            </calendarview>
        </blocks>
        <helpers>
            <calendarview>
                <class>Hp_Calendarview_Helper</class>
            </calendarview>
        </helpers>
    </global>
</config>