<?xml version="1.0"?>
<config>
    <modules>
        <Ebiz_Testmodule>
            <version>0.1.0</version>
        </Ebiz_Testmodule>
    </modules>
    <frontend>
        <routers>
            <testmodule>
                <use>standard</use>
                <args>
                    <module>Ebiz_Testmodule</module>
                    <frontName>testmodule</frontName>
                </args>
            </testmodule>
        </routers>
        <layout>
            <updates>
                <testmodule>
                    <file>testmodule.xml</file>
                </testmodule>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <testmodule>
                <use>admin</use>
                <args>
                    <module>Ebiz_Testmodule</module>
                    <frontName>testmodule</frontName>
                </args>
            </testmodule>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <testmodule module="testmodule">
                <title>Testmodule</title>
                <sort_order>71</sort_order>                
                <children>
                    <items module="testmodule">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>testmodule/adminhtml_testmodule</action>
                    </items>
                </children>
            </testmodule>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <testmodule>
                            <title>Testmodule Module</title>
                            <sort_order>200</sort_order>
                        </testmodule>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <testmodule>
                    <file>testmodule.xml</file>
                </testmodule>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <testmodule>
                <class>Ebiz_Testmodule_Model</class>
                <resourceModel>testmodule_mysql4</resourceModel>
            </testmodule>
            <testmodule_mysql4>
                <class>Ebiz_Testmodule_Model_Mysql4</class>
                <entities>
                    <testmodule>
                        <table>testmodule</table>
                    </testmodule>
                </entities>
            </testmodule_mysql4>
        </models>
        <resources>
            <testmodule_setup>
                <setup>
                    <module>Ebiz_Testmodule</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testmodule_setup>
            <testmodule_write>
                <connection>
                    <use>core_write</use>
                </connection>


            </testmodule_write>
            <testmodule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testmodule_read>
        </resources>
        <blocks>
            <testmodule>
                <class>Ebiz_Testmodule_Block</class>
            </testmodule>
        </blocks>
        <helpers>
            <testmodule>
                <class>Ebiz_Testmodule_Helper</class>
            </testmodule>
        </helpers>
    </global>
</config>