<?xml version="1.0"?>
<!--
/**
 * {{Esparkinfo}}_{{Imageuploader}} extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       {{Esparkinfo}}
 * @package        {{Esparkinfo}}_{{Imageuploader}}
 * @copyright      Copyright (c) 2018
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Esparkinfo_Imageuploader>
            <version>1.0.0</version>
        </Esparkinfo_Imageuploader>
    </modules>
    <global>
        <resources>
            <esparkinfo_imageuploader_setup>
                <setup>
                    <module>Esparkinfo_Imageuploader</module>
                    <class>Esparkinfo_Imageuploader_Model_Resource_Setup</class>
                </setup>
            </esparkinfo_imageuploader_setup>
        </resources>
        <blocks>
            <esparkinfo_imageuploader>
                <class>Esparkinfo_Imageuploader_Block</class>
            </esparkinfo_imageuploader>
        </blocks>
        <helpers>
            <esparkinfo_imageuploader>
                <class>Esparkinfo_Imageuploader_Helper</class>
            </esparkinfo_imageuploader>
        </helpers>
        <models>
            <esparkinfo_imageuploader>
                <class>Esparkinfo_Imageuploader_Model</class>
                <resourceModel>esparkinfo_imageuploader_resource</resourceModel>
            </esparkinfo_imageuploader>
            <esparkinfo_imageuploader_resource>
                <class>Esparkinfo_Imageuploader_Model_Resource</class>
                <entities>
                    <imageupload>
                        <table>esparkinfo_imageuploader_imageupload</table>
                    </imageupload>
                    <imageupload_store>
                        <table>esparkinfo_imageuploader_imageupload_store</table>
                    </imageupload_store>
                    <imageupload_comment>
                        <table>esparkinfo_imageuploader_imageupload_comment</table>
                    </imageupload_comment>
                    <imageupload_comment_store>
                        <table>esparkinfo_imageuploader_imageupload_comment_store</table>
                    </imageupload_comment_store>
                </entities>
            </esparkinfo_imageuploader_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <esparkinfo_imageuploader>
                        <class>Esparkinfo_Imageuploader_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </esparkinfo_imageuploader>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <esparkinfo_imageuploader>
                    <file>esparkinfo_imageuploader.xml</file>
                </esparkinfo_imageuploader>
            </updates>
        </layout>
        <translate>
            <modules>
                <Esparkinfo_Imageuploader>
                    <files>
                        <default>Esparkinfo_Imageuploader.csv</default>
                    </files>
                </Esparkinfo_Imageuploader>
            </modules>
        </translate>
        <global_search>
            <imageupload>
                <class>esparkinfo_imageuploader/adminhtml_search_imageupload</class>
                <acl>esparkinfo_imageuploader</acl>
            </imageupload>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Esparkinfo_Imageuploader before="Mage_Adminhtml">Esparkinfo_Imageuploader_Adminhtml</Esparkinfo_Imageuploader>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <esparkinfo_imageuploader>
                        <class>esparkinfo_imageuploader/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </esparkinfo_imageuploader>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>

        <routers>
            <esparkinfo_imageuploader>
                <use>standard</use>
                <args>
                    <module>Esparkinfo_Imageuploader</module>
                    <frontName>imageuploader</frontName>
                </args>
            </esparkinfo_imageuploader>
        </routers>
        <layout>
            <updates>
                <esparkinfo_imageuploader>
                    <file>esparkinfo_imageuploader.xml</file>
                </esparkinfo_imageuploader>
            </updates>
        </layout>
        <translate>
            <modules>
                <Esparkinfo_Imageuploader>
                    <files>
                        <default>Esparkinfo_Imageuploader.csv</default>
                    </files>
                </Esparkinfo_Imageuploader>
            </modules>
        </translate>
    </frontend>
    <default>
        <esparkinfo_imageuploader>
            <imageupload>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>imageuploads</meta_title>
            </imageupload>
        </esparkinfo_imageuploader>
    </default>
</config>
